<div class="container">
  {{#each puppies}}
  <div class="puppy-list">
    <a href="/puppies/{{id}}"><img class="img-circle" src="{{image}}" alt="{{name}}"></a>
    <p>Name: {{name}}</p>
    <p>Owned by: {{owner}}</p>
    <p>Breed: {{breed}}</p>
  </div>
  {{/each}}
  <div class="puppy-list">
    <img class="img-circle" src="/images/anonymous.png" alt="">
    <input type="submit" value="add" class="add-pet">

  </div>
</div>
